<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788552618705-23unchpsjn6o8vvehi6r8nd4jjtsc1jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788552618705-23unchpsjn6o8vvehi6r8nd4jjtsc1jc</string>
	<key>API_KEY</key>
	<string>AIzaSyDfh2X1c-kIWqYlfIxKb5cCaDDMA0uBacE</string>
	<key>GCM_SENDER_ID</key>
	<string>788552618705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u22.chattest.chattest</string>
	<key>PROJECT_ID</key>
	<string>lumiele-e1e57</string>
	<key>STORAGE_BUCKET</key>
	<string>lumiele-e1e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788552618705:ios:3cfe8db67b4249fdc9abf0</string>
</dict>
</plist>